@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.card {
    width:1075px ;
    height:  697px;
    position: relative;
    top: 132px;
    left: 103px;
    border-radius: 100px;
    

}
.card-title {
  font-size: 70px;
  font-family: "Baloo";
}
@font-face {
  font-family: "Baloo";
  src: url(./../../../Fonts/Baloo2-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(./../../../Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
.card-text {
  font-size: 20px;
  font-family: "inter";
}
