.card-1 {
  border-radius: 0rem 3rem 3rem 0rem;
  background-color: #46686b;
  height: 500px;
  width: 760px;
}
.img-astronaut {
  border-radius: 0rem 3rem 3rem 0rem;
  width: 240px;
  height: 500px;
}
.sign {
  letter-spacing: 1px;
}
.signup {
  color: #393f81;
}
.login-your-account {
  color: #ffffff;
  font-size: 20px;
  padding-left: 60px;
  padding-top: 30px;
}

.name {
  color: #ffffff;
  margin-top: 35px;
  margin-left: 20px;
}
.email {
  color: #ffffff;
  margin-top: 7px;
  margin-left: 20px;
}
.phone {
  color: #ffffff;
  margin-top: 7px;
  margin-left: 20px;
}

.password {
  color: #ffffff;
  margin-left: 20px;
  margin-top: 7px;
}
.input {
  border-color: #ffffff;
  background: transparent;
  width: 85%;
  height: 30px;
  margin-left: 20px;
}
.login {
  color: #ffffff;
  margin-left: 225px;
  font-size: 10px;
}
.login-button {
  background-color: #ffffff;
  color: black;
  width: 180px;
  height: 30px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  padding-left: 30px;
  margin-top: 30px;
  margin-left: 50px;
}
.card-2 {
  border-color: #ffffff;
  background-color: transparent;
  width: 280px;
  height: 420px;
  margin-top: -520px;
  margin-left: 250px;
  border-radius: 2rem 2rem 2rem 2rem;
}
.close-icon {
  position: absolute;
  bottom: 450px;
  margin-left: 580px;
}
.welcome-to-hidden-heaven {
  bottom: 300px;
  left: 20px;
  width: 160px;
  font-size: 12px;
  color: #ffffff;
  position: absolute;
}
.line-1 {
  width: 170px;
  bottom: 280px;
  color: #ffffff;
  position: absolute;
}
