.abt_bd {
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}
.abt_hd {
  margin-left: 50%;
}
.abt_btm {
  margin-left: 35%;
  margin-bottom: 4%;
  
}
.abt_mn {
  margin-top: 5%;
  margin-bottom: 5%;
}
.abt_cnt {
  margin-left: 10%;
}
